body {
    background-color: aliceblue;
    font-family: sans-serif;
}
li {
    list-style: none;
}
#huffleButton, #gryffButton, #ravenclawButton, #slytherinButton, #btnAll, #sort1, #sort2, #sort3{
    background-color: #e9ba36;
    width: 10em;
    height: 4em;
    padding: 1em;
    text-align: center;
    border-radius: 4px;
    margin: 1em;
}
#huffleButton:hover, #gryffButton:hover, #ravenclawButton:hover ,#slytherinButton:hover{
    background-color: orange;
    border: solid 1px black;
}
.gryffindor {
    background-color: #ce3a0a;
    color: #fdb02e
}

.hufflepuf {
    background-color: #ffc02a;
    color: #0b0000  
}

.ravenclaw {
    background-color: #395f9d;
    color: #e9ba36  
}

.slytherin {
    background-color: #588c39;
    color: #c0b1c6  
}
#modal{
   display: none;
   position: absolute; 
   margin-left: 20%;
   margin-top: 10%;
   padding: 10%;
}

table, th {
    border: 1px solid black;
  }
tr {
    background-color: white;
}