@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');

body {
    background-color: aliceblue;
    font-family: sans-serif;
    background-image: url("images/Hogwarts-castle.jpg");
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: smooth;
}
h1{
    color:#FFDE63;
    text-align: center;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3em;
}
li {
    list-style: none;
}
#huffleButton, #gryffButton, #ravenclawButton, #slytherinButton, #btnAll, #sort1, #sort2, #sort3{
    background-color:#FFDE63;
    width: 10em;
    height: 4em;
    padding: 1em;
    text-align: center;
    border-radius: 4px;
    margin: 1em;
    font-size: 0.8em;
    font-weight: bolder;
}
#huffleButton:hover, #gryffButton:hover, #ravenclawButton:hover ,#slytherinButton:hover, #btnAll:hover, #sort1:hover, #sort2:hover, #sort3:hover{
    background-color: orange;
    border: solid 1px black;
}

#crest_modal{
    width: 100px;
    height: auto;
}
.gryffindor {
    background-color: #ce3a0a;
    color: #fdb02e
}

.hufflepuf {
    background-color: #ffc02a;
    color: #0b0000  
}

.ravenclaw {
    background-color: #395f9d;
    color: #e9ba36  
}

.slytherin {
    background-color: #588c39;
    color: #c0b1c6  
}
#modal{
   display: none;
   position: absolute; 
   width: 20vw;
   height: auto;
   margin-left: 60%;
   margin-top: 20%;
   padding: 4em;
   align-items: center;
}
#closeModalBtn{
   color: #000000;
   font-size: 4em;
   cursor: pointer;
   position: relative;
   left: 10%;
}
#studentList{
    border-collapse: collapse;
    width: 55%;
}
#studentList th, #studentList td{
    border: 1px solid #ddd;
    padding: 8px;
}
#studentList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFDE63;
    color: black;  
}
#studentList tr:nth-child(even){background-color: #03396C;}
#studentList tr:nth-child(odd){background-color: #15132b;
}
#studentList tr:hover {background-color:#0074a9;}
tr {
    color: white;
    border: 2px solid #FFDE63;
}

#statusBox{
    position: relative;
    left: 70%;
    color:#FFDE63;
}
.hide{
    display: none;
}